// Toast popup
#toast {
	color: @toastFgColor;
	background-color: @toastBgColor;
	position: fixed;
	z-index: 20;
	bottom:  -100px;
	left: 0;
	padding: .5em 1em;
	text-align: left;
	min-width: 50%;
	width: 100%;
	.z-depth1();
	.transition();
	cursor: pointer;

	&.exposed {
		bottom: 0;
	}

	@media (min-width: @breakpoint-s) {
		left: 15px;
		width: auto;
		&.exposed {
			bottom: 20px;
		}
	}
}