
// Limit resize in firefox, options are none, vertical, horizontal or both
textarea {
	resize: vertical;
}

.floatingLabels label {
	&.floatDown {
		color: @formTextDesc;
		top: 2rem;
		cursor: text;

		em {
			color: @formValidatorReq;
		}
	}
}

form {
	margin: 0 auto;

	&:after {
		.clear;
	}

	fieldset {
		border: 1px solid @colorDivider;
		margin: 1rem 0;
		padding: 1rem;
		border-radius: @radius;
		min-width: 0; // stop auto resize on Chrome
	}

	legend {
		padding: 0 .5rem;
		border: 1px solid @colorDivider;
		border-radius: @radius;
	}

	// Labels & validation
	label {
		display: block;
		position: relative;
		font-weight: 500;
		font-size: 1rem;
		color: @colorText;
		top: 0;
		.transition();

		em {
			font-style: normal;
			color: fadeout(@formValidatorReq, 13%);
		}

		&.validationError span:first-child {
			display: none;
		}

		&.focused {
			color: @colorPrimary;
		}
	}

	.description {
		padding: .3rem 0 0 0;
		font-size: .85rem;
		color: @formTextDesc;
	}

	.validation {
		color: @formValidatorFailed;
		display: none;

		strong {
			font-weight: normal;
			display: block;
		}
	}

	.ok,
	.failed,
	.ajax {
		display: block;
	}

	// Form elements
	input[disabled] {
		cursor: not-allowed;
		opacity: .5;
	}

	input[type="text"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	select,
	textarea {
		outline: none;
		font-family: inherit;
		font-size: 1rem;
		width: 100%;
		padding: .5rem 0;
		border: none;
		border-bottom: 2px solid @colorDivider;
		background-color: transparent;
		.transition();

		&:focus {
			border-bottom: 2px solid @colorPrimary;
		}

		&.validationError {
			border-bottom-color: @formValidatorFailed;
		}
	}

	input[type="file"] {
		font-size: 1rem;
		width: auto;
	}

	// Radio group
	.radiogroup {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			padding: .25rem 0;
			margin: 0;
		}

		input {
			margin-right: .5rem;
		}

		label {
			color: @colorText;
			font-size: 1rem;
		}
	}

	// Checklist
	.checklist {
		padding: .25rem;
		margin: 0;
		list-style: none;
		overflow: auto;
		border: 1px solid @colorDivider;
		border-radius: @radius;

		li {
			padding: .25rem;
			margin: 0;
			background-color: transparent;
			.transition();

			&.selected {
				background-color: @checklistHoeverBg;
			}

			&:hover {
				background-color: @checklistHoeverBg;
			}

			label {
				display: block;
				font-weight: normal;
				color: @colorText;
				font-size: 1rem;
				cursor: pointer;
			}
		}

		input {
			margin-right: .25rem;
		}
	}

	// Stacked Layout
	dd {
		padding: 0 0 .3rem 0;
		margin-bottom: .75rem;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Submit buttons
form input[type="submit"],
form button, button { font-size: 1rem; }

// Horizontal Layout
.hform form,
form.hform {
	dt {
		float: left;
		clear: both;
		width: 28%;
		margin-right: 2%;

		label {
			text-align: right;
			padding: .4rem 0 .5rem 0;
			color: @colorText;
		}
	}
	dd {
		float: right;
		width: 70%;
	}
	.radiogroup {
		li:first-child {
			padding-top: 0;
		}
	}
}

// Submit button list layout
form {
	#submit-list {
		clear: both;

		dt {
			display: none;
		}
		dd {
			float: none;
			width: auto;
			display: inline;
			padding-left: 2px;
			padding-right: 2px;
		}
	}
}

.hform {
	#submit-list {
		float: right;
		width: 70%;
	}
}

@media (max-width: (@breakpoint-s - 1)) {

	.hform #submit-list {
		float: none;
		width: 100%;
	}
	.hform form,
	form.hform {
		dt, dd {
			float: none;
			width: 100%;
		}

		dt label {
			text-align: left;
			font-size: .85rem;
			color: @formTextDesc;
		}

		.validation {
			width: auto;
			left: 40%;
			bottom: -.5rem;
		}
	}
}
