.row {
	clear: both;

	&:after {
		.clear
	}

	.row {
		margin-left: -@colGutter / 2;
		margin-right: -@colGutter / 2;
	}

	[class^="@{colName}"] {
		display: block;
		min-height: 1px;
		padding-left: @colGutter / 2;
		padding-right: @colGutter / 2;

		&.no-left-gutter {
			padding-left: 0;
		}
		&.no-right-gutter {
			padding-right: 0;
		}
		&.no-gutter {
			padding-left: 0;
			padding-right: 0;
		}
	}

	// Build a row of columns
	.makeRow(@spanName) {
		@colWidth: percentage((100 / @numColumns) / 100);

		[class*="@{colName}@{spanName}"] {
			float: left;
		}
		[class*="@{colName}@{spanName}@{separator}"] {
			position: relative;
		}

		[class^="@{colName}"] {
			// Trim trailing - from span names
			@spanNameClean: replace(@spanName, "-$", "");

			&.left-gutter@{spanNameClean} {
				padding-left: @colGutter / 2;
			}
			&.no-left-gutter@{spanNameClean} {
				padding-left: 0;
			}
			&.right-gutter@{spanNameClean} {
				padding-right: @colGutter / 2;
			}
			&.no-right-gutter@{spanNameClean} {
				padding-right: 0;
			}
			&.gutter@{spanNameClean} {
				padding-left: @colGutter / 2;
				padding-right: @colGutter / 2;
			}
			&.no-gutter@{spanNameClean} {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.makeCols(@name, @span) when (@span > 0) {
			.@{colName}@{name}@{span} {
				width: @colWidth + (@colWidth * (@span - 1));
			}

			// If in bootstrap compatible mode
			.makeOffset(@colName) when (@colName = col) {
				.col@{name}@{offsetName}-@{span} {
					margin-left: @colWidth * @span;
				}
			}
			// Else in fusionCSS
			.makeOffset(@colName) when not (@colName = col) {
				.@{offsetName}@{name}@{span} {
					margin-left: @colWidth * @span;
				}
			}
			.makeOffset(@colName);

			.@{colName}@{name}@{separator}@{pushName}@{span} {
				left: @colWidth + (@colWidth * (@span - 1));
			}
			.@{colName}@{name}@{separator}@{pullName}@{span} {
				right: @colWidth + (@colWidth * (@span - 1));
			}
			.makeCols(@name, @span - 1);
		}

		.@{colName}@{spanName}@{separator}@{pushName}0 {
			left: inherit;
		}
		.@{colName}@{spanName}@{separator}@{pullName}0 {
			right: inherit;
		}

		.makeCols(@spanName, @numColumns);

		// Make columns equal height needs IE10+
		&.@{colName}@{spanName}@{separator}equal-height {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			width: 100%;
		}
	}

	.makeRow(@tinyName);

	@media (min-width: @breakpoint-s) {
		.makeRow(@smallName);
	}

	@media (min-width: @breakpoint-m) {
		.makeRow(@mediumName);
	}

	@media (min-width: @breakpoint-l) {
		.makeRow(@largeName);
	}
}
