#slideInMenuOverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	cursor: pointer;
	z-index: 99998;
}
#slideInMenu {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	overflow: auto;
	background-color: @slideInBg;
	z-index: 99999;
	-o-transition: width 250ms ease-out;
	-webkit-transition: width 250ms ease-out;
	-moz-transition: width 250ms ease-out;
	transition: width 250ms ease-out;
}

#slideInMenuOverlay.slideInMenuShow { display: block; }
#slideInMenu.slideInMenuShow {
	display: block;
	width: 80%;
	-webkit-box-shadow: 0 0 10px #000000;
	-moz-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
}

#slideInMenu ul { margin: 0; padding: 0; }
#slideInMenu ul + ul,
#slideInMenu ul ul {
	border-top: 1px solid @slideInSep;
}
#slideInMenu li {
	padding: 0;
	border-bottom: 1px solid @slideInSep;
}
#slideInMenu li:last-child { border-bottom: 0; }
#slideInMenu a { color: @slideInLink; padding: 1em 1em; display: block; }
#slideInMenu a:hover { color: @slideInLinkHover; background-color: @slideInLinkHoverBg; }
#slideInMenu li li a { padding-left: 2em; }
