
// Define the number of columns and the size of a column
@numColumns: 	        12;
@colWidth:		        6.5%;
@colGutter:		        2%;

// Radius when rounding corners
@radius:                3px;

// Table colours
@tableOddColor:         #eee;
@tableEvenColor:        #f5f5f5;
@tableBorderColor:      #ccc;
@tableHoverColor:       #fbf8e9;

// Forms
@formBorderColor:       #9BA6AB;
@formValidatorShadow:   #000;
@formValidatorColor:    #fff;
@formValidatorBg:       #000;
@formValidatorReq:      #c93434;
@formFocusBdrColor:     rgba(50, 169, 211, .8);
@formFocusColor:        rgba(50, 169, 211, .6);
@formSubmitColor:       #fff;
@formSubmitBg:          #00A9D3;
@formSubmitBgHover:     #0099c3;
@formSubmitBgWarn:      #c93434;
@formSubmitBgWarnHover: #b23232;
@checklistHoverColor:   #fbf8e9;
@checklistSelected:     #fdefbd;
@uploadBg:              #222;
@uploadBgHover:         #000;

// Navigation
@navColor:              #fff;
@navBg:                 #00A9D3;
@navBgHover:            #0099c3;
@navBgActive:           #222;
@vnavBg:                #E9E9E9;
@vnavColor:             #222;
@vnavBgHover:           #d1d1d1;
@slideInLink:           #eee;
@slideInLinkHover:      #ccc;

// Pagination
@pagColor:              #222;
@pagBg:                 #c3c3c3;
