@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700);

body {
	color: #000;
	background-color: #eee;
	font-family: 'Noto Serif', serif;
	font-size: 95%;
	padding: 30px;
}

/* Make the spans visible */
.example [class*="span"] {
	text-align: center;
	color: #fff;
	background-color: #1B2426;
	line-height: 2em;
	margin-top: .125em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.example [class*="span"] [class*="span"] {
	margin-top: 0;
	background-color: #545a5b;
}
.example [class*="span"].result { background-color: #00A9D3; }

/* Limit width */
.container { max-width: 980px; margin: 0 auto; }

/* Style elements */
h1 { color: #00A9D3; font-size: 140%; margin-top: 1em; font-weight: normal; }
h2 { color: #000000; font-size: 120%; margin-top: 1em; font-weight: normal; }
a { color: #00A9D3; text-decoration: none; }
a:hover { color: #000; }
img {vertical-align: middle; }
header { margin-bottom: 2em; }
nav { margin-bottom: .5em; }
footer { margin-top: 1em; }

/* Horizontal nav */
.hnav a {
	color: #fff;
	background-color: #00A9D3;
	padding: 2px 10px;
}

.hnav.pill a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.hnav a:hover { background-color: #0099c3; }
.hnav .active a { background-color: #222; }

.vnav li { border-bottom: 1px solid #ccc; }
.vnav li:last-child { border-bottom: none; }
.vnav a { color: #000; padding: .5em; }
.vnav a:hover { color: #fff; background-color: #d1d1d1; }
.vnav .active a { color: #fff; background-color: #c3c3c3; }

/* Collapsed nav */
[id*="collapsedMenu"] {
	font-size: 100%;
	width: 50%;
	margin: .5em auto;
	padding: .3em .6em;
	border: 1px solid #9ba6ab;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-transition: -webkit-box-shadow 250ms ease-out;
	-moz-transition: -moz-box-shadow 250ms ease-out;
	transition: box-shadow 250ms ease-out;
}

.paginationwidget li span {
	color: #fff;
	background-color: #00A9D3;
}
.paginationwidget a {
	color: #000;
}
.paginationwidget a:hover {
	color: #fff;
	background-color: #c3c3c3;
}

/* SVG */
.graph {
	width: 100%;
	max-width: 700px;
	height: 400px;
}

.graph .grid {
	stroke: #000;
	stroke-dasharray: 1 2;
	stroke-width: 1px;
	vector-effect: non-scaling-stroke;
}

.graph .points {
	stroke: #fff;
	stroke-width: 3px;
	vector-effect: non-scaling-stroke;
	fill: #000;
}

.graph .x-labels {
	text-anchor: middle;
}

.graph .y-labels {
	text-anchor: end;
}