@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700);

body {
	color: #000;
	background-color: #eee;
	font-family: 'Noto Serif', serif;
	font-size: 95%;
	padding: 30px;
}

/* Make the spans visible */
.example [class*="span"] {
	text-align: center;
	color: #fff;
	background-color: #1B2426;
	line-height: 2em;
	margin-top: .125em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.example [class*="span"] [class*="span"] {
	margin-top: 0;
	background-color: #545a5b;
}
.example [class*="span"].result { background-color: #00A9D3; }

/* Limit width */
.container { max-width: 980px; margin: 0 auto; }

/* Style elements */
h1 { color: #00A9D3; font-size: 140%; margin-top: 1em; font-weight: normal; }
h2 { color: #000000; font-size: 120%; margin-top: 1em; font-weight: normal; }
a { color: #00A9D3; text-decoration: none; }
a:hover { color: #000; }
img {vertical-align: middle; }
header { margin-bottom: 2em; }
nav { margin-bottom: .5em; }
footer { margin-top: 1em; }

.vnav { margin: 1.5em 0; }
