.alert {
	text-align: left;
	border: 1px solid;
	padding: .5em;
	overflow: hidden;
	margin: 1em 0;
	.border-radius(@radius);
	.background-clip(padding-box);

	.setColors(@col) {
		border-color: darken(@col, 50%);
		color: darken(@col, 60%);
		background-color: @col;
	}

	&.success {
		.setColors(@alertSuccessBg);
	}

	&.error {
		.setColors(@alertErrorBg);
	}

	&.warning {
		.setColors(@alertWarningBg);
	}

	&.info {
		.setColors(@alertInfoBg);
	}

	&.note {
		.setColors(@alertNoteBg);
	}
}