// Basic table styles
table {
	margin: 1em 0;
	width: 100%;
	border-spacing: 0;

	th {
		text-align: center;
		font-weight: @tableHeaderFontWeight;
	}
	th, td {
		padding: .25em .5em;
	}

	// Striped tables
	&.striped {
		tr {
			background-color: @tableOddColor;

			&:nth-child(even) {
				background-color: @tableEvenColor;
			}
		}
		th {
			background-color: @tableHeaderColor;
			color: @tableHeaderColorText;
		}
	}

	// Row hovers
	&.rowhover {
		tr {
			.transition();

			&:hover td {
				background-color: @tableHoverColor;
			}
		}
	}

	// Bordered
	&.bordered {
		border: 1px solid @tableBorderColor;
		.border-radius(@radius);

		// Corners
		tr:first-child th:first-child,
		tr:first-child td:first-child {
			.border-radius(@radius, 0, 0, 0);
		}

		tr:first-child th:last-child,
		tr:first-child td:last-child {
			.border-radius(0, @radius, 0, 0);
		}

		thead + tbody tr:first-child td:first-child {
			.border-radius(0);
		}

		thead + tbody tr:first-child td:last-child {
			.border-radius(0);
		}

		thead + tbody tr:last-child td:first-child,
		tr:last-child td:first-child {
			.border-radius(0, 0, 0, @radius);
		}

		thead + tbody tr:last-child td:last-child,
		tr:last-child td:last-child {
			.border-radius(0, 0, @radius, 0);
		}

		tr:last-child:first-child td:first-child {
			.border-radius(@radius, 0, 0, @radius);
		}
		tr:last-child:first-child td:last-child {
			.border-radius(0, @radius, @radius, 0);
		}
		thead + tbody tr:last-child:first-child td:first-child {
			.border-radius(0, 0, 0, @radius);
		}
		thead + tbody tr:last-child:first-child td:last-child {
			.border-radius(0, 0, @radius, 0);
		}

		// Lines
		th,
		td {
			border-bottom: 1px dotted @tableBorderColor;
			border-right: 1px dotted @tableBorderColor;

			&:last-child {
				border-right: none;
			}
		}
		tr:last-child td {
			border-bottom: none;
		}
	}
}

// Responsive Tables
@media only screen and (max-width: (@breakpoint-s - 1)) {
	table.responsive { margin: 0; width: 100%; }
	div.responsiveTableWrapper {
		width: 100%;
		margin: 1em 0;
	}
	div.responsiveTableWrapperInner {
		border: 1px solid @tableBorderColor;
		.border-radius(@radius);
		position: relative;
		overflow: hidden;
		overflow: scroll;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
	}
	table.responsive.bordered { border: none; }
}