<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="css/prism.css" rel="stylesheet" />
	<link id="pagestyle" href="../css/fusioncss.blue.pink.css" rel="stylesheet">
	<link href="css/docs.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../js/fusionCSS.js"></script>
	<script type="text/javascript" src="js/docs.js"></script>
	<script src="js/prism.js"></script>
</head>
<body>

<div class="page-wrapper">

<nav class="appbar fixed">
	<ul class="pull-left">
		<li>
			<div id="viewSlideInMenu"><i class="fa fa-bars"></i><span class="sr-only">MENU</span></div>
		</li>
		<li id="style-select">
			<div class="styleSel">Style</div>
			<ul class="hide" id="cssoption"></ul>
		</li>
	</ul>
	<ul class="pull-right">
		<li><a href="https://github.com/paularlott/fusionCSS"><i class="fa fa-github"></i><span class="sr-only">GitHub</span></a></li>
		<li><a href="http://fusioncss.com/"><i class="fa fa-home"></i><span class="sr-only">fusioncss.com</span></a></li>
	</ul>
</nav>

<div class="container">

	<div class="row">
		<div class="span-t12">

{{> body}}

		</div>
	</div>

	<footer class="row">
		<div class="span-s12 text-center">
			Copyright &copy; 2013 - 2019 <a href="http://fusioncss.com/">fusionCSS</a>. All rights reserved.
		</div>
	</footer>

</div>

</div>

<nav id="slideInMenu">
	<ul>
		<li class="logo">
			<a href="http://fusioncss.com/"><img src="logo.png" alt="fusionCSS" /></a>
		</li>
		<li {{#ifpage 'index'}} class="active"{{/ifpage}}><a href="index.html">Getting Started</a></li>
		<li {{#ifpage 'typography'}} class="active"{{/ifpage}}><a href="typography.html">Typography</a></li>
		<li {{#ifpage 'colors'}} class="active"{{/ifpage}}><a href="colors.html">Colors</a></li>
		<li {{#ifpage 'grid'}} class="active"{{/ifpage}}><a href="grid.html">Grid</a></li>
		<li {{#ifpage 'visibility'}} class="active"{{/ifpage}}><a href="visibility.html">Visibility</a></li>
		<li {{#ifpage 'navigation'}} class="active"{{/ifpage}}><a href="navigation.html">Navigation</a></li>
		<li {{#ifpage 'tables'}} class="active"{{/ifpage}}><a href="tables.html">Tables</a></li>
		<li {{#ifpage 'alerts'}} class="active"{{/ifpage}}><a href="alerts.html">Alerts</a></li>
		<li {{#ifpage 'forms'}} class="active"{{/ifpage}}><a href="forms.html">Forms</a></li>
		<li {{#ifpage 'images'}} class="active"{{/ifpage}}><a href="images.html">Images</a></li>
		<li {{#ifpage 'buttons'}} class="active"{{/ifpage}}><a href="buttons.html">Buttons</a></li>
		<li {{#ifpage 'shadows'}} class="active"{{/ifpage}}><a href="shadows.html">Shadows</a></li>
		<li {{#ifpage 'chips'}} class="active"{{/ifpage}}><a href="chips.html">Chips</a></li>
		<li {{#ifpage 'cards'}} class="active"{{/ifpage}}><a href="cards.html">Cards</a></li>
		<li {{#ifpage 'appbar'}} class="active"{{/ifpage}}><a href="appbar.html">Appbar</a></li>
		<li {{#ifpage 'misc'}} class="active"{{/ifpage}}><a href="misc.html">Miscellaneous</a></li>
	</ul>

	<ul>
		<li {{#ifpage 'fam'}} class="active"{{/ifpage}}><a href="fam.html">Floating Action Menu</a></li>
		<li {{#ifpage 'tabs'}} class="active"{{/ifpage}}><a href="tabs.html">Tabs</a></li>
		<li {{#ifpage 'toast'}} class="active"{{/ifpage}}><a href="toast.html">Toast</a></li>
	</ul>
</nav>

<div id="scrollToTop" class="hide">Top</div>

</body>
</html>
